# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/01_DeployStickers.sol/*/run-*.json
!broadcast/01_DeployStickers.sol/*/run-latest.json


# Docs
docs/

# Dotenv file
.env
